.containerLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}


@media (max-width: 641px) {
    .titMob{
        text-align: left !important;
        width: 290px;
    }
}

@media (min-height: 700px) {
    .btnEntrar{
        padding-top: 77px !important;
    }
}

.rowLogin{
    display: flex;
    justify-content: center;

}

.titleLogin{
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
}

.subLabel{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: #828BA1;
}

.btnGoogle{
    background: #F2F6FB !important;
    color: #828BA1 !important;
    width: 255px !important;
    border: 1px solid #E8EEF4 !important;
}

.btnFacebook{
    background: #3B5998 !important;
    color: #FFFFFF !important;
    width: 255px !important;
}

.btnCenter{
    display: flex;
    justify-content: center;
}